body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

#settings, #assignment, #result { display: none }
#settings.active, #assignment.active, #result.active { display: flex; flex-direction: column }

#assignment .row {
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}

#container {
  display: flex;
}

#assignment, #result {
  width: 50%;
}

#result .answer {
  font-size: 5rem;
  margin-bottom: 1rem;
}

#corner {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

#corner #next {
  font-size: 2rem;
}
